<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <%= yield %>
        </div>
        <div class='col-md-2'></div>
      </div>
    </div>
  </body>
</html>
