<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'></div>

        <div class='col-md-6'>
          <%= yield %>
        </div>
        <div class='col-md-3'>
          <script src='https://certificates.theodi.org/en/datasets/213482/certificate/badge.js'></script>
        </div>
      </div>
    </div>
  </body>
</html>
