<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'></div>

        <div class='col-md-6'>
          <%= yield %>
        </div>
        <div class='col-md-3'>
          <script src='https://certificates.theodi.org/en/datasets/213482/certificate/badge.js'></script>
          <hr />
          <a href='https://creativecommons.org/licenses/by-sa/4.0/' title='Creative Commons Attribution ShareAlike 4.0'>
            <img alt='Creative Commons License' style='border-width:0' src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png' />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
