<div id='chart'></div>

<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script src='/javascripts/chart.js'></script>
<script>
$.getJSON(document.URL, function(json) {
  title = extractTitle(document.URL)
  graph(json, title, '<%= @textcolour %>', '<%= @boxcolour %>', <%= @plotly_modebar %>)
})
</script>
