<div class='row'>
  <div class='col-md-6'>
    <iframe src='http://metrics.theodi.org/metrics/certificated-datasets/2013-01-01T00:00:00/2016-02-01T00:00:00' height='100%' width='100%' frameborder='0' scrolling='no'></iframe>
  </div>
  <div class='col-md-6'>
    <iframe src='http://metrics.theodi.org/metrics/certificated-datasets/2013-01-01T00:00:00/2016-02-01T00:00:00' height='100%' width='100%' frameborder='0' scrolling='no'></iframe>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <iframe src='http://metrics.theodi.org/metrics/certificated-datasets/2013-01-01T00:00:00/2016-02-01T00:00:00' height='100%' width='100%' frameborder='0' scrolling='no'></iframe>
  </div>
  <div class='col-md-6'>
    <iframe src='http://metrics.theodi.org/metrics/certificated-datasets/2013-01-01T00:00:00/2016-02-01T00:00:00' height='100%' width='100%' frameborder='0' scrolling='no'></iframe>
  </div>
</div>
