%img{:src => 'http://img.shields.io/things%20cleaned/all.png?color=green'}
%img{:src => 'http://img.shields.io/gold%20rings/five.png?color=green'}
%img{:src => 'http://img.shields.io/the%20goggles/do%20nothing.png?color=red'}

.jumbotron
  %h1= text
