.jumbotron
  %h1= text
  .btn-group.pull-right
    %a.btn.btn-default{:href => "#"}These
    %a.btn.btn-default{:href => "#"}Buttons
    %a.btn.btn-default{:href => "#"}Do
    %a.btn.btn-default{:href => "#"}Nothing