<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= @title %></title>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='body'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
