<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= @title %></title>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src='//cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='//code.jquery.com/jquery-1.12.0.min.js'></script>
  </head>
  <body>
    <div class='body'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
