<div prefix="dct: http://purl.org/dc/terms/
            rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
            dcat: http://www.w3.org/ns/dcat#
            foaf: http://xmlns.com/foaf/0.1/">
  <div typeof="dcat:Dataset" resource="<%=  %>">


    <h1 property="dct:title">ODI Metrics</h1>

    <ul id='metrics'></ul>

  </div>
</div>

<script>
$.getJSON(document.URL, function(json) {

  $.each(json['metrics'], function (index, metric) {
    var link = '<a href="' + snipExtension(metric['url']) + '">' + extractTitle(metric['url']) + '</a>'
    $('#metrics').append('<li>' + link + '</li>')
  })
})
</script>
