<div id='wrapper' style='background-color: <%= @boxcolour %>; color: <%= @textcolour %>'>

  <% case @type %>
    <% when 'number' %>
      <%= erb :number %>

    <% else %>
      <%= erb :chart %>
  <% end %>

</div>
