<div id='number'></div>

<script src="/javascripts/countup.js"></script>
<script src="/javascripts/number.js"></script>

<script>
$.getJSON(document.URL, function (json) {
  title = extractTitle(document.URL)
  number(json, title)
})
</script>
