<div id='number'></div>

<script>
$.getJSON(document.URL, function (json) {
  var values = json['values']
  var last = values[values.length - 1]

  var title = extractTitle(document.URL)
  var date = moment(last['time']).format('YYYY-DD-MM HH:mm')
  var number = extractNumber(last)

  var content = '<h1>' + title + '</h1>'
  content += '<span id="metric-value">' + number + '</span>'
  content += '<br/><small>Last updated: ' + date + '</small>'

  $('#number').html(content)
})
</script>
