<div id='number'></div>

<script src="/javascripts/countup.js"></script>
<script>
$.getJSON(document.URL, function (json) {

  var last = lastOrOnlyValue(json)

  var title = extractTitle(document.URL)
  var date = moment(last['time']).format('YYYY-DD-MM HH:mm')
  var number = extractNumber(last)

  var content = '<h1>' + title + '</h1>'
  content += '<span id="metric-value">' + number + '</span>'
  content += '<br/><small>Last updated: ' + date + '</small>'

  $('#number').html(content)

  var options = {
    useEasing : true,
    useGrouping : true,
    separator : ',',
    decimal : '.'
  }
  var number = new CountUp("metric-value", 0, number, 0, 1, options);
  number.start();

})
</script>
