<div id='chart'></div>

<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script>
$.getJSON(document.URL + '?with_path=true', function(json) {
  pie(json)
})

function pie(json) {
  var data = [{
    values: extractValues(json.value, '//total'),
    labels: extractKeys(json.value, '//total'),
    type: 'pie',
    marker: {
      colors: ['#FF6700', '#D60303']
    }
  }];

  var layout = {
    title: extractTitle(document.URL),
    titlefont: {
      color: '<%= @textcolour %>'
    },
    paper_bgcolor: '<%= @boxcolour %>',
    plot_bgcolor: '<%= @boxcolour %>',
    margin: {
      l: 70, r: 30
    }
  };

  Plotly.newPlot('chart', data, layout, { displayModeBar: <%= @plotly_modebar %> });
}
</script>
