<div id='target-container' class='row'>
  <div class='col-md-1'></div>
  <div id='target' class='col-md-10'></div>
  <div class='col-md-1'></div>
</div>

<script>
$.getJSON(document.URL, function (json) {
  var values = json['values']
  var last = values[values.length - 1]['value']

  var title = extractTitle(document.URL)
  var date = moment(last['time']).format('YYYY-DD-MM HH:mm')
  //var nums = last['actual'] + ' -- ' + last['annual_target'] + ' -- ' + last['ytd_target']

  // 99 -- 400 -- 12

  var progress = (last['actual'] / last['annual_target']) * 100
  var expected = (last['ytd_target'] / last['annual_target']) * 100

  var content = '<h1>' + title + '</h1>'

  $('#target').html(content)

  $('#target').append(asRow('<div class="ytd-progress-bar with-target ' + asColumns(progress) + '">' + progress + '%</div>'))
  $('#target').append(asRow('<div class="ytd-target-bar with-target ' + asColumns(expected) + '">' + expected + '%</div>'))
  $('#target').append(asRow('<div class="annual-target-bar with-target ' + asColumns(100) + '">100%</div>'))
})

function asRow(content) {
  return '<div class="row target-row">' + content + '</div>'
}

</script>
