<div id='target-container' class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
    <div class='row'>
      <div id='caption' class='col-md-12'></div>
    </div>
    <div class='row'>
      <div id='target' class='col-md-12 hidden-xs hidden-sm'></div>
      <div id='target-little' class='col-md-12 hidden-md hidden-lg'></div>
    </div>
  </div>
  <div class='col-md-1'></div>
</div>

<script>
$.getJSON(document.URL, function (json) {
  $('#caption').html('<h1>' + extractTitle(document.URL) + '</h1>')

  var last = lastOrOnlyValue(json)
  var barcolour = '<%= @barcolour %>'

  var metrics = {
    actual: (last['actual'] / last['annual_target']) * 100,
    ytd_target: (last['ytd_target'] / last['annual_target']) * 100,
    annual_target: (last['annual_target'] / last['annual_target']) * 100 // REDUNDANT REDUNDANCY
  }

  var sizes = {
    'target': 'md',
    'target-little': 'xs'
  }

  $.each(sizes, function(div, size) {
    $.each(metrics, function(metric, data) {
      $(
        '#' + div
      ).append(
        asRow(
          '<div class="' + metric + '-bar with-target ' + asColumns(
            data, size
          ) + '" style="background-color: ' + barcolour + '">' + scaleNumber(last[metric]) + '</div>'
        )
      )
    })
  })
})

function asRow(content) {
  return '<div class="row target-row">' + content + '</div>'
}

</script>
