<div id='target-container'>
</div>

<template id='metric-with-target'>
  <style>
    @import '/css/target.css';

    #caption h1 {
      font-size: <%= @font_size %>;
    }
  </style>

  <div id="widget">
    <div id='target-wrapper'>
      <div id='caption'></div>
      <div id='target' class='col-md-12 hidden-xs hidden-sm'></div>
      <div id='target-little' class='col-md-12 hidden-md hidden-lg'></div>
    </div>
  </div>
</template>

<script src='/javascripts/webcomponents.js'></script>
<script src='/javascripts/target.js'></script>
<script>
var container = document.querySelector('#target-container');
var root = container.createShadowRoot();
$.getJSON(document.URL, function (json) {
  t = document.querySelector('#metric-with-target');
  root.innerHTML = t.innerHTML
  $(container.shadowRoot).find('#caption').html('<h1><%= @title["en"] %></h1>')
  drawTarget(lastOrOnlyValue(json), '<%= @barcolour %>', $(container.shadowRoot), '<%= @datatype %>')
})
</script>
