<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

<div id='target-container'>
</div>

<style>
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
</style>

<template id='metric-with-target'>
  <style>
    @import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css';
    @import '/css/target.css';
    @import '/css/tooltip.css';

    div {
      font-family: 'Open Sans', 'Calibri';
    }

    #last-updated {
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 3vh;
      opacity: 0.6;
      left:0;
      bottom: 1.5em;
    }
  </style>

  <div id="widget">
      <div id='target-wrapper'>
        <div id='caption' data-tip='<%= @description['en'] %>'></div>
        <div id='target' class='col-md-12 hidden-xs hidden-sm'></div>
        <div id='target-little' class='col-md-12 hidden-md hidden-lg'></div>

        <small id="last-updated"></small>
      </div>

    </div>
</template>

<script src='/javascripts/webcomponents.js'></script>
<script src='/javascripts/tooltip.js'></script>
<script src='/javascripts/target.js'></script>

<script>
var container = document.querySelector('#target-container');
var root = container.createShadowRoot();
$.getJSON(document.URL, function (json) {
  t = document.querySelector('#metric-with-target');
  lastUpdated = moment(json.time).format('YYYY-MM-DD HH:mm')

  root.innerHTML = t.innerHTML
  $(container.shadowRoot).find('#caption').html('<h1><%= @title["en"] %></h1>')
  $(container.shadowRoot).find('#last-updated').html('Last updated: ' + lastUpdated)

  drawTarget(lastOrOnlyValue(json), '<%= @barcolour %>', $(container.shadowRoot), '<%= @datatype %>')

})
</script>
