<div id='target-container' class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
    <div class='row'>
      <div id='caption' class='col-md-12'></div>
    </div>
    <div class='row'>
      <div id='target' class='col-md-12 hidden-xs hidden-sm'></div>
      <div id='target-little' class='col-md-12 hidden-md hidden-lg'></div>
    </div>
  </div>
  <div class='col-md-1'></div>
</div>

<script>
$.getJSON(document.URL, function (json) {
  $('#caption').html('<h1>' + extractTitle(document.URL) + '</h1>')

  var values = json['values']
  var last = values[values.length - 1]['value']

  //var nums = last['actual'] + ' -- ' + last['annual_target'] + ' -- ' + last['ytd_target']
  // 99 -- 400 -- 12

  var actual = (last['actual'] / last['annual_target']) * 100
  var ytd_target = (last['ytd_target'] / last['annual_target']) * 100
  var annual_target = (last['annual_target'] / last['annual_target']) * 100 // REDUNDANT REDUNDANCY

  var sizes = {
    'target': 'md',
    'target-little': 'xs'
  }

  var metrics = {
    actual,
    ytd_target,
    annual_target
  }

  $.each(sizes, function(div, size) {
    $('#' + div).append(asRow('<div class="actual-bar with-target ' + asColumns(actual, size) + '">' + last['actual'] + '</div>'))
    $('#' + div).append(asRow('<div class="ytd_target-bar with-target ' + asColumns(ytd_target, size) + '">' + last['ytd_target'] + '</div>'))
    $('#' + div).append(asRow('<div class="annual_target-bar with-target ' + asColumns(annual_target, size) + '">' + last['annual_target'] + '</div>'))
  })
})

function asRow(content) {
  return '<div class="row target-row">' + content + '</div>'
}

</script>
