<h1 id="title"></h1>

<ul id="tasklist">

</ul>

<script src='/javascripts/tasklist.js'></script>
<script>
$.getJSON(document.URL + '?with_path=true', function(json) {
  addTitle(json.name)
  tasklist(json.value)
})
</script>
