language: ruby
cache: bundler
sudo: false
rvm:
  - 2.3.0
services: mongodb
env:
  global:
    - METRICS_API_USERNAME="username"
    - METRICS_API_PASSWORD="password"
    - METRICS_API_TITLE='ODI Metrics'
    - METRICS_API_DESCRIPTION='This API contains a list of all metrics collected by the Open Data Institute since 2013'
    - METRICS_API_LICENSE_NAME='Creative Commons Attribution-ShareAlike'
    - METRICS_API_LICENSE_URL='https://creativecommons.org/licenses/by-sa/4.0/'
    - METRICS_API_PUBLISHER_NAME='Open Data Institute'
    - METRICS_API_PUBLISHER_URL='http://theodi.org'
    - METRICS_API_CERTIFICATE_URL='https://certificates.theodi.org/en/datasets/213482/certificate'