<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
  <![endif]-->

  <!-- JQUERY -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js'></script>
  <!-- URI -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/URI.min.js'></script>

  <%= erb :'includes/rich-header' unless @layout == 'bare' %>

  <!-- OUR STUFF -->
  <script src='/javascripts/metrics.js'></script>

  <title><%= @title["en"] %></title>
  <% if @autorefresh %>
    <meta http-equiv='refresh' content='<%= @autorefresh %>'>
  <% end %>
</head>
