<h1><%= @title %></h1>

<ul>
  <% @dashboards.each do |dashboard| %>
    <li><a href="/dashboards/<%= dashboard.slug %>">
      <%= dashboard.name %></a>
      <% if authorized? %>
        <a href="/dashboards/<%= dashboard.slug %>/edit" class="btn btn-primary btn-sm">Edit</a>
      <% end %>
    </li>
  <% end %>
</ul>
